/* testing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #8df74c;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
.container {
  height: 80vh;
  width: 155vh;
  background-color: #fc08f4;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #e2abab;
}
